
 <div class="row">
     
  <div class="span9">
    <div class="recommond " ng-controller="MoveCtr">

       <%moves[:moves].each do |move| %>
        <div class="move_line">
        
             <div class="row move">
                <div class="span1 haibao_index">
                  <a title="<%=move.name%>"  target="_blank" href="/move/<%=move.move_id%>" style="display:block">
                    <img  title="<%=move.name%>"  class="haibao" onerror="this.src='/static/images/no_haibao.jpeg'" src="<%=move.source_img_url%>" />
                  </a>  
                  <div>
                    <a ng-click="plus_score(<%=move.id%>)">+</a>  
                      <span class="score_nums center" id="score_<%=move.id%>">
                       
                       
                         <%=move.ups.to_i - move.downs.to_i%>
                    
                      </span>
                    <a ng-click="sub_score(<%=move.id%>)">-</a>
                  </div>

                <a href="#" data-id="<%=move.id%>"  class="social-share-button-weibo" data-title="<%=move.name%>,很好看哦。" data-img="<%=move.source_img_url%>" data-site="weibo" onclick="return SocialShareButton.share(this);" rel="nofollow " title="分享到新浪微博"></a>
                  <a href="#" data-id="<%=move.id%>"  data-title="<%=move.name%>,很好看哦。"  data-img="<%=move.source_img_url%>"  class="social-share-button-douban" data-site="douban" onclick="return SocialShareButton.share(this);" rel="nofollow " title="分享到豆瓣"></a>
                  <a href="#" data-id="<%=move.id%>"  data-title="<%=move.name%>,很好看哦。"  data-img="<%=move.source_img_url%>"  class="social-share-button-qq-weibo" data-site="tqq" onclick="return SocialShareButton.share(this);" rel="nofollow " title="分享到腾讯微博"></a>
                  <a href="#" data-id="<%=move.id%>"  data-title="<%=move.name%>,很好看哦。"  data-img="<%=move.source_img_url%>"  class="social-share-button-qq" data-site="qq" onclick="return SocialShareButton.share(this);" rel="nofollow " title="分享到qq空间"></a>
         
    
                
                </div>
                <div class="span7">
                    <div class="bold">
                      <a target="_blank" href="/move/<%=move.move_id%>">  <p class="text-success"><%=move.name%></p></a>

                    </div>
                    <div>
                      导演: <%=move.director%>
                    </div>
                    <div>
                      主演: <%=move.actor%>
                    </div>
                    <div>
                      类型: <%=move.label%>
                    </div>
                    <div class="muted">
                      收藏时间: <%=move.created_at%>
                    </div>
                    <div class="">

                    </div>
                </div>
            </div>
           
              
               
                
        </div>
       <%end%>
      </div>

      <div class="pagination center">
        
        <ul>
          
          <% if moves[:page_num]  == 1%>
            <li class="disabled">
              <a  href="" >上一页</a>
              
            </li>
            <%end%>
            <% if moves[:page_num]  != 1%>
            <li >
            <a  href="/?<%=session[:path]%>&page=<%=moves[:page_num].to_i-1%>" >上一页</a>
            </li>
            <%end%>
            <%  len = 10
              if moves[:pages] < 10
                len = moves[:pages] -1
              end
            %>
            <% if moves[:page_num].to_i  > 10 %>
            <li >
              <a  href="/fav?<%=session[:path]%>&page=1" >1</a>
              
            </li>
            <%end%>
            <% len.times do |p|%>
            
              <%
                  temp  = 4
                if moves[:page_num].to_i < 5 
                  temp =  moves[:page_num].to_i - 1
                end
                if moves[:page_num].to_i >= moves[:pages]-5  and moves[:pages] > 10
                  temp =   len-1
                end
              %> 
              
              <li
                         <%if moves[:page_num].to_i == moves[:page_num].to_i-temp+p %>
                         class="disabled"
                         <%end%>
               >
                <a  href="/fav?<%=session[:path]%>&page=<%=moves[:page_num].to_i-temp+p%>" >
                  <%=moves[:page_num].to_i-temp+p%></a>
              </li>
              
            <%end%>
            <% if moves[:page_num].to_i !=moves[:pages] %>
            <li
                 <%if moves[:page_num].to_i ==  moves[:pages]%>
                         class="disabled"
                         <%end%>
            >
            
            <a href="/fav?<%=session[:path]%>&page=<%=moves[:pages]%>" ><%=moves[:pages]%></a>
            </li>
            <%end%>
            <% if moves[:pages]  == 1 or moves[:page_num].to_i == moves[:pages]%>
            <li class="disabled" >
              <a  href="javascript:void(0)" >下一页</a>
              
            </li>
            <%end%>
            <% if moves[:pages]  != 1 and moves[:page_num].to_i != moves[:pages]%>
            <li
            >
            <a  

            href="/fav?<%=session[:path]%>&page=<%=moves[:page_num].to_i+1%>" >下一页</a>
            </li>
            <%end%> 
            
        </ul>
      </div>
  </div>
  <!--/span-->
  <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-pills">
            <a class="node" style="background-color:<%=settings.color[1][:b]%>;color:<%=settings.color[1][:c]%>" title="所有" href="/fav">所有</a>
        <%settings.move_cat.each do |c|%>
        <%i = rand 7%>
          <a class="node" style="background-color:<%=settings.color[i][:b]%>;color:<%=settings.color[i][:c]%>" title="<%=c["name"]%>" href="<%=session[:path]%>&one_cat=<%=c["name"]%>"><%=c["name"]%></a>
        
        <%end%>
      </ul>
       <ul class="nav nav-pills">
        <%settings.move_cat[two_menu_index]["list"].each do |c|%>
          <%i = rand 7%>
          <a class="node" style="background-color:<%=settings.color[i][:b]%>;color:<%=settings.color[i][:c]%>"   title="<%=c%>" href="<%=session[:path]%>&two_cat=<%=c%>">
            <%=c%>
          </a>
        
        <%end%>
      </ul>
      
    </div><!--/.well -->
  </div><!--/span-->
</div>

    